---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">

          <iframe data-aa="1320436" src="https://ad.a-ads.com/1320436?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden; margin-bottom: 30px" allowtransparency="true"></iframe>

          {{ content }}

          <iframe data-aa="1317021" src="https://ad.a-ads.com/1317021?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden; margin-top: 30px" allowtransparency="true"></iframe>
          <iframe data-aa="1320438" src="https://ad.a-ads.com/1320438?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>

        </div>
      </div>

    </main>

    {% include footer.html %}

    {% include noAdBlock.html %}

  </body>

</html>
